body{
    background-color: aqua;
}
#wrapper{
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    background-color: ivory;
    padding: 20px;
}
#table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    max-width: 100%;
}
#table td{
    background-color: #f2f2f2;
}

#table tr:hover {background-color: #ddd;}
h1{
    text-align: center;
}